<div class="navbar navbar-expand-sm navbar-light navbar-guide">
  <%= link_to "Fred's Guide", root_path, class: "btn btn-primary nav-link" %>
  <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
  <%= link_to "All Projects", projects_path, class: "btn btn-primary" %>
</div>
