<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/213309/screenshots/4232964/funky_dev.png)">
  <div class="container" style="height: 100vh">
      <h1>Welcome to <strong>Fred's Journal Guide</strong> !</h1>
      <p>Create, Store & Take a look</p>
     <!--     <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
