<div class="banner">
  <div class="banner-text">
    <h1 id="banner-title">Welcome to <strong>Fred's Journal Guide</strong> !</h1>
    <div class="p-container">
      <p id="banner-p">Create, Store & Take a look</p>
    </div>
  </div>
</div>
