<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/270201/screenshots/1885045/field_guide_illustration.png)">
  <div class="container" style="height: 60vh">
      <h1>Welcome to <strong>Fred's Journal Guide</strong> !</h1>
      <p>Create, Store & Take a look</p>
     <!--     <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
