// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card_index";
@import "card_show";
@import "search_results";

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
