.navbar-guide {
  justify-content: space-between;
  background: white;
}

.navbar-guide .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: white;
  padding: 3px;
  width: fit-content;
  &:hover {

  }
}
